obj
bin
_ReSharper.*
*.csproj.user
*.ReSharper.user
*.resharper
*.suo
*.cache
*.docstates
*~
*.swp
/build
build_output
PrecompiledWeb
.svn
*.chm
*.log
.bak
.gitignore
*.bak
*.Publish.xml
obj/
[Bb]in
[Dd]ebug*/
[Rr]elease*/
*.sln.docstates
tools