@using TheRealDeal.Models
@using TheRealDeal.Models.Account
@model LogOnModel

@{
    Layout = "~/Views/Shared/_accountLayout.cshtml";
}

<!DOCTYPE html>

<div id="BannerText">
<h2>Welcome! Please Login!</h2>
</div>
@using (Html.BeginForm())
{
    <div id="LoginTextBoxes">
        <div>
            @Html.Label("Username", "User Name:")
            @Html.TextBoxFor(x => x.UserName)
        </div>
        <div>
            @Html.Label("Password", "Password:")
            @Html.PasswordFor(x => x.Password)
        </div>
    </div>
    <div id="ButtonsContainer">
        <button type="submit">Login</button>
        Or 
        <button type="button" onclick="location.href='/Account/Register/'">New User?</button>
        </div>
}