@using System.Collections
@using RecreateMe.Profiles
@using TheRealDeal
@using TheRealDeal.Models.Profile
@model ChooseProfileModel

@{
    ViewBag.Title = "title";
    Layout = "~/Views/Shared/_accountLayout.cshtml";
}
<div id="BannerText">
<h2>Choose/Create A Profile</h2>
</div>
@using (Html.BeginForm())
{
    
    var profiles = (IList<Profile>) ViewData[ViewDataConstants.Profiles];
    var checkFirstProfile = true;
    
    <ul id="ProfileList">
    
    @foreach (var prof in profiles)
    {
        
            <li id="ProfileOption">
                @Html.RadioButton("Profile", prof.UniqueId, checkFirstProfile)
                @Html.Label(prof.ProfileId)
            </li>
        checkFirstProfile = false;
    }
    </ul>
    
    <div id="ButtonsContainer">
    @if (profiles.Count != 0)
    {
         <button type="submit">Use Selected</button>
    }
    @if (profiles.Count < 3)
    {
        @: Or
        <button type="button" onclick="location.href='/Profile/CreateProfile/'">Create Profile</button>
    }
    </div>
}
