@using RecreateMe.Profiles
@using TheRealDeal.Models.Profile
@model ChooseProfileModel

@{
    ViewBag.Title = "title";
    Layout = "~/Views/Shared/_accountLayout.cshtml";
}

<h2>Which Profile Would You Like To Use?</h2>
@using (Html.BeginForm())
{
    <div>
    @foreach (var prof in (IList<Profile>)ViewData["Profiles"])
    {
        @Html.RadioButton("Profiles", prof.UniqueId)
        @Html.Label(prof.Name.FullName)
    }
    </div>
    <button type="submit">Use Selected</button>
}