@model object

@{
    ViewBag.Title = "Games";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Games</h2>

<button type="button" onclick="location.href = '/Games/CreateGame/'">I wanna create a game!</button>