@using TheRealDeal
@using TheRealDeal.Models.Games
@model ListOfGamesModel
@{
    ViewBag.Title = "Games";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">
    window.onload = function () {
        $('#HomeNavBtn').addClass('active');
    }
</script>

<span class="span6">


    <h2>Your upcoming pick up games:</h2>
   
            @foreach (var game in Model.PickUpGames)
            {
             <div>
                @Html.ActionLink(String.Format("{3}: {0} in {1} on {2}", game.Sport,
                game.Location, game.DateTime.ToDisplayableGameTime(), game.GameName), "ViewGame",  new { gameId = game.Id },
                     new { style = "padding-left: 20px" })</div>   
            }

            <script type="text/javascript">
                $(document).ready(function () {
                    $("#accordion2").collapse();
                });
            </script>
</span>