@using RecreateMe.Profiles
@using TheRealDeal
@using TheRealDeal.Models.Friend
@model FriendsListModel

@{
    ViewBag.Title = "title";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Here are your friends!</h2>

<ul> 
@foreach (var friend in Model.FriendsProfileIds)
{
    <li>
    @Html.Label(friend)
    </li>
}
</ul>

<button type="button" onclick="location.href='/Friend/Search/'">Search for friends!</button>
