@using RecreateMe.Profiles
@using TheRealDeal
@model object

@{
    ViewBag.Title = "title";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Here are your friends!</h2>

<ul>
@foreach (var friend in (Dictionary<string, Name>)ViewData[ViewDataConstants.FriendsDictionary])
{
    <li>
    @Html.Label(friend.Key, friend.Value.FullName)
    </li>
}
</ul>

<button type="button" onclick="location.href='/Friend/Search/'">Search for friends!</button>
