@using TheRealDeal.Models.Friend
@model SearchForFriendModel

<div>
@if (Model != null){
    if (Model.Results.Count != 0){
        <h2>We found you some friends!</h2>
        foreach (var friend in Model.Results)
        {
            <div>
            @Html.ActionLink("Add: " + friend.ProfileName, "Add", "Friend", new { friendId = friend.ProfileName }, null)
            </div>
        }
    }
    else
    {
        <h2>No people found that matched your criteria! Try a broader search.</h2>
    }
}
</div>