<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
      <add name="PortlandPickUp" connectionString="Server=(local);Database=PortlandPickUp;Trusted_Connection=True;" providerName="System.Data.SqlClient" />
    </connectionStrings>

    <appSettings>
      <add key="EncryptIdKey" value="KeyForEncrypting"/>
      <add key="EncryptIdIV" value="IVForEncrypting1"/>
    <add key="ProfileOptions" value="hamster"/>
    <add key="SkillLevels" value="1,2,3,4,5,6,7,8,9,10"/>
  </appSettings>
</configuration>