@using TheRealDeal.Models.Teams
@model CreateTeamModel

@{
    ViewBag.Title = "Create A Team!";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@using (Html.BeginForm())
{
<div>
@Html.LabelFor(x => x.MaxSize)
@Html.TextBoxFor(x => x.MaxSize)
</div>
<div>
@Html.LabelFor(x => x.Name)
@Html.TextBoxFor(x => x.Name)
</div>

<div>
    <button type="submit">Create Team</button>
</div>
}